.loginContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/letschattt.jpg");
}
.appTitle {
  margin-bottom: 5px;
  font-weight: bold;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.loginButton {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
